.env
node_modules/
package-lock.json
dist/
dev/
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.hdb
*.sqlite
*.tgz
*.swp
__snapshots__/
src/__test__/
PseudoCode.js