.main-title-container {
  width: 100%;
  margin: 72px 10px 0 10px;
}

.main-title-container h1 {
  font-size: 36px;
  font-weight: 700;
}

.content-inner {
  width: 90%;
  margin: 0 auto;
}

.main-article-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  max-width: 100%;
  text-decoration: none;
  margin-top: 80px;
}

.main-article-container img {
  width: 240px;
  height: 240px;
  margin-right: 48px;
  border-radius: 14px;
  object-fit: cover;
}

.main-article-title-container {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 14px;
}

.main-article-title-container p {
  line-height: 1.4;
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.main-article-summary-container {
  display: block;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}

.main-article-summary-container p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #808080;
}

.main-article-created-date {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #4e5968;
}
